.agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 785px;
    background-color: brown;
  }
  
  .title{
    font-size: 1.5em;
    color:white;
    margin-top: 20px;
  }
  
  .calendar{
    margin:auto;
  }
  
  .input{
    border-color:brown;
  }
  
  .button{
    font-weight: bold;
    background-color: rgb(128, 41, 41);
    color: white;
    width: 150px;
    height: 80px;
    margin-top: 30px;  
  }
  